$Acme: 'Acme', sans-serif;
$CabinCondense: 'Cabin Condensed', sans-serif;
$BrandFont: 'Roboto Condensed', sans-serif;
$BrandColor: #BF0433;
$SecondaryColor: #CCCCCC;

/*================================= HEADER =================================*/

.header {
  background-color: $BrandColor;
  color: white;
  ul li {
    list-style: none;
  }
}

.brand {
  font-family: $BrandFont;
  font-size: 1.7em;
  padding-top: 8px;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: $SecondaryColor;
    text-decoration: none;
  }
  li {
    display: inline;
  }
}

.header-links {
  padding: 15px 35px 0px 0px;
  font-size: 1.2em;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: $SecondaryColor;
    text-decoration: none;
  }
  li {
    display: inline;
    margin-left: 10px;
  }
}

/*================================== BODY ==================================*/

.flash {
  margin-top: 80px;
  text-align: right;
  padding-right: 100px;
  font-size: 2em;
  .green {
    list-style: none;
    color: #048029;
  }
}

.red {
  list-style: none;
  color: $BrandColor;
}

.main-page {
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
  h1 {
    font-family: $BrandFont;
    font-size: 3.5em;
  }
  h3 {
    font-family: $BrandFont;
    font-size: 2.3em;
    margin-top: 8px;
  }
  .brand-button {
  padding: 20px 30px;
  background-color: $BrandColor;
  color: $SecondaryColor;
  font-size: 1.5em;
  margin-top: 20px;
  }

  .brand-button:hover {
    color: $BrandColor;
    text-decoration: none;
  }
}

.input-page {
  margin: 0 auto;
  margin-top: 50px;
  .field input {
    width: 200px;
  }
  .actions {
    margin-top: 10px;
  }
}

.user-page {
  margin: 0 auto;
  margin-top: 50px;
}

.brand-grey {
  .brand-button {
  padding: 10px 20px;
  background-color: $SecondaryColor;
  color: $BrandColor;
  font-size: 1.2em;
  margin-top: 10px;
  }
  .brand-button:hover {
    color: $BrandColor;
    text-decoration: none;
  }
}

.brand-red {
  .brand-button {
  padding: 10px 20px;
  background-color: $BrandColor;
  color: $SecondaryColor;
  font-size: 1.2em;
  margin-top: 10px;
  margin-left: 15px;
  }
  .brand-button:hover {
    color: $BrandColor;
    text-decoration: none;
  }

}

.session-page {
  .field input {
    width: 200px;
  }
  .actions {
    margin-top: 10px;
  }
}

/*================================= FOOTER =================================*/

.footer {
  background-color: WhiteSmoke;
}
