<%= content_for(:title, "Home") %>

<div class="main-page container">
  <h1>Patti and Maigen's Apparel</h1>
  <h3>It's based on our name.</h3>
  <div class="row">
    <div class="photo">
      <%= image_tag("main_fashion.jpg", height: '90%', width: '90%', class: "happy-couple") %>
    </div>
  </div>
  <%#= link_to "Sign up for P | M Apparel", signup_path, class: "signup-button btn btn-default" %>
</div>
