<%= content_for(:title, "Products") %>

<div class="all-product container">

  <h1>Patti and Maigen's Apparel</h1>
  <h2>It's based on our names.</h2>

  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>

  <p> <%= link_to 'Create New Product', new_product_path %>
  </p>

</div>
